[submodule "Computer programming and programming languages I/Homework I/check_first_blood"]
	path = Computer programming and programming languages I/Homework I/check_first_blood
	url = https://github.com/BVRazvan/college-homework.git
